{% extends 'read-item.html.twig' %}


{% block table_title %}
<a class="btn btn-success" href="{{path('admin_add-agent')}}">Ajouter un agent</a>
        
        <th scope="col">Identité</th>
        <th scope="col">Code Authentification</th>
        <th scope="col">Action</th>
 {% endblock %}

 {% block table_body %}
        
        <td>{{item.getLastName}} {{item.getFirstName}}</td>
        <td>{{item.getAuthenticationCode}}</td>
{% endblock %}