{% extends 'security/base.html.twig' %}

{% block css %}<link rel="stylesheet" href="/styles/login.css">{% endblock %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="container-item">

		<div class="item-img">
			<img heigth="300" src="/assets/login-image.jpg" alt="">
		</div>

		<div class="item-register">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
				<label for="inputEmail">Email</label>

				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>

				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
													        See https://symfony.com/doc/current/security/remember_me.html #}

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>


				<button class="btn btn-lg btn-primary" type="submit">
					Se connecter
				</button>
			</form>
		</div>
	</div>
{% endblock %}