{% extends 'security/base.html.twig' %}
{% block title %}Détail de mission{% endblock %}
{% block css %}<link rel="stylesheet" href="/styles/detail-mission.css">
{% endblock %}
{% block body %}

	<a class="btn btn-primary btn-return" href="/">Liste des missions</a>

	<div class="mission_description">
		<h1>Fiche de mission:

			{{mission.getTitle}}</h1>
		
		<div class="mission_description_content">
            
			{{mission.description|raw}}
			<br>
			La(es) cibles de cette mission :
			{% for target in mission.getTargets %}
				<b><u>{{target.getLastName | upper}}
				{{target.getFirstName | upper}}</u></b>,
			{% endfor %}


		</div>

		<div class="mission_description_complement">

			<h2>Compléments :</h2>
			<ul class="complement_list">
				<li>
					Pays de mission :
					<b>{{mission.getCountry}}</b>
				</li>

				<li>Type de mission :
					<b>{{mission.getType}}</b>
				</li>

				<li>La spécialité de la mission:

					
						<b>{{mission.getSpecialities.getName}}</b>
				

			</li>
		</ul>
	</div>


</div>
<div class="mission_ressource">

	<h3>Les agents sur la mission:
	</h3>

	{% for agent in mission.getAgents %}
		<div class="mission_ressource_item">
			<div class="mission_ressource_item-image">
				<img width="60" src="/assets/avatar-men.png" alt="avatar">

			</div>
			<div class="mission_ressource_item-content">
				{{agent.getLastName | upper}}
				{{agent.getFirstName | upper}}
			</div>
		</div>
	{% endfor %}

</div>
<div class="mission_ressource">

	<h3>Les contacts sur la mission:
	</h3>
	<div class="mission_ressource-content">

		{% for contact in mission.getContacts %}
			<div class="mission_ressource_item">
				<div class="mission_ressource_item-image">
					<img width="60" src="/assets/contact.png" alt="avatar">
				</div>
				<div class="mission_ressource_item-content">
					{{contact.getLastName | upper}}
					{{contact.getFirstName | upper}}
				</div>
			</div>

		{% endfor %}

	</div>
</div>
<div class="mission_ressource">

	<h3>Les planques sur la mission:
	</h3>

	{% for stash in mission.getStashs %}
		<div class="mission_ressource_item">
			<div class="mission_ressource_item-image">
				<img width="60" src="/assets/planques.png" alt="avatar">
            {{stash.getAdress}} {{stash.getPostalCode}} {{stash.getTown}}
			</div>
			
		</div>

	{% endfor %}


</div>{% endblock %}
