{% extends 'security/base.html.twig' %}

{% block title %}Listes des Missions{% endblock %}

{% block body %}


<div class=" container">
    <h1 class="text-center">Liste des {{type}}</h1>

    {# Liste des agents #}
        <div>
        
            <table class="table" id="items">
                <thead>
                    <tr>
                        
                        
                        <th scope="col">Identité</th>
                        <th scope="col">Pays</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th> 
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                    
                        
                        <td>{{item.getTitle}} : {{ item.getCodeName}}</td>
                        <td> {{ item.getCountry}}</td>
                        <td> {{ item.getStatus}}</td>
                        
                        <td> 
                        <a class="btn btn-info" href="/mission/{{item.getId}}" role="button">Détail de mission</a> 
                        
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
</div>
{{ knp_pagination_render(items) }}
{% endblock %}
{% block javascript %}
    <script src="/javascript/app.js" defer><script>
{% endblock %}