{% extends 'read-item.html.twig' %}


{% block table_title %}
<a class="btn btn-success" href="{{path('admin_add-user')}}">Ajouter un utilisateur</a>
        
        <th scope="col">Identité</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
 {% endblock %}

 {% block table_body %}
        
        <td>{{item.getLastName}} {{item.getFirstName}}</td>
        <td>
            {% for role in item.getRoles %}
                {% if role == 'ROLE_ADMIN' %}
                    Administrateur,
                    {% elseif role =='ROLE_USER' %}
                    Utilisateur
                {% endif %}
            {% endfor %}
        </td>
{% endblock %}