{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">{{title}}</h1>

    <div class="p-5">
        {{ form_start(registrationForm) }}
        
            <div class="col-md-12">
                {{ form_row(registrationForm.email) }}
            <div>
            <div class="col-md-12">
                {{ form_row(registrationForm.last_name) }}
            <div>
            <div class="col-md-12">
                {{ form_row(registrationForm.first_name) }}
            <div>
            <div class="col-md-12">
                {{ form_row(registrationForm.plainPassword) }}
            <div> 
        
            <div class="row mt-2">
                {{ form_row(registrationForm.roles) }} 
            </div>
            <div class="row mt-2">
                {{ form_row(registrationForm.agreeTerms) }} <a href="http://google.com">Voir les conditions</a>
            </div>
            <div class="d-flex justify-content-end mt-3">
		<input class="btn btn-success" type="submit" value="envoyer"/>
	</div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
