{% extends 'base.html.twig' %}

{% block title %}{{function}} {{type}}{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">{{function}} {{type}}</h1>

    {% if errors %}
        <ul class="list-unstyled" role="alert">
            {% for error in errors %}
                <li class="alert alert-danger text-center">{{error}}</li>
            {% endfor %}        
        </ul>
    {% endif %}
    

{{form_start(form)}}

    <div class="row mt-5">
        <div class="col-md-4">
            {{form_row(form.title)}}
        </div>
        <div class="col-md-4">
            {{form_row(form.code_name)}}
        </div>
        <div class="col-md-4">
            {{form_row(form.type)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            {{form_row(form.country)}}
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-around">
                {{form_row(form.start_date)}}
                {{form_row(form.end_date)}}
            </div>    
            {{form_row(form.status)}}
        </div>
        <div class="col-md-4">
            {{form_row(form.specialities)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            {{form_row(form.targets)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.agents)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            {{form_row(form.contacts)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.stashs)}}
        </div>
    </div>

    {{form_row(form.description)}}

    <div class="d-flex justify-content-end mt-3">
        <input class="btn btn-success" type="submit" value="envoyer" />
    </div>
    

{{form_end(form)}}
{% endblock %}
