{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row">
     {# Liste des agents #}
        <div class="col-md-6">
            <h3>Liste des agents</h3>
            <table class="table">
                <thead>
                    <tr>
                    
                    <th scope="col">Identité</th>
                    <th scope="col">Code Authentification</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for agent in agents|slice(0,6) %}
                    <tr>
                    
                    <td>{{agent.getLastName}} {{agent.getFirstName}}</td>
                    <td>{{agent.getAuthenticationCode}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <a class="btn btn-info" href="{{path('admin_agents')}}">VOIR PLUS</a>
        </div>

        {# Liste des missions #}
        <div class="col-md-6">
            <h3>Liste des missions</h3>
            <table class="table">
                <thead>
                    <tr>
                    
                    <th scope="col">Titre/Nom de code</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in missions|slice(0,5) %}
                    <tr>
                    
                    <td>{{mission.getTitle}} : {{ mission.getCodeName}}</td>
                    <td>{{mission.getStatus}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <a class="btn btn-info" href="{{path('admin_missions')}}">VOIR PLUS</a>
        </div>
</div>
<div class="row">
        {# Liste des contacts #}
        <div class="col-md-6">
            <h3>Liste des contacts</h3>
            <table class="table">
                <thead>
                    <tr>
                    
                    <th scope="col">Identité</th>
                    <th scope="col">Nom de code</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                    
                    <td>{{contact.getLastName}} {{ contact.getFirstName}}</td>
                    <td>{{contact.getCodeName}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <a class="btn btn-info" href="{{path('admin_contacts')}}">VOIR PLUS</a>
        </div>


        {# Liste des cibles #}
        <div class="col-md-6">
            <h3>Liste des cibles</h3>
            <table class="table">
                <thead>
                    <tr>
                    
                    <th scope="col">Identité</th>
                    <th scope="col">Nom de code</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for target in targets %}
                    <tr>
                    
                    <td>{{target.getLastName}} {{ target.getFirstName}}</td>
                    <td>{{target.getCodeName}}</td>
                    <td> 
                    <a class="btn btn-warning" href="#" role="button">Editer</a> 
                    <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                    </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <a class="btn btn-info" href="{{path('admin_targets')}}">VOIR PLUS</a>
        </div>
   </div> 
</div>
{% endblock %}
