body{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.15fr 0.85fr;
}

header{
    height: 100vh;
    background: rgb(112,4,4);
    background: linear-gradient(45deg, rgba(112,4,4,0.6895133053221288) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style: none;
    border-right: 1px solid black;
}

.nav-logo{
    display: flex;
    justify-content: center;
}

.nav-logo img {
    border-radius: 50%;
}

.nav-item{
    margin: 3% 0;
}