{%  extends 'base.html.twig' %}



{% block body%}
{% if errors %}
	{% for error in errors %}
		{{error}}
	{% endfor %}
{% endif %}

	{{form_start(form)}}
	{{form_widget(form)}}
	<input class="btn btn-success" type="submit" value="valider">
	{{form_end(form)}}
{% endblock %}
