{% extends 'base.html.twig' %}

{% block title %}Liste des
	{{title}}
{% endblock %}

{% block body %}


	<div class=" container">
		<h1 class="text-center">Liste des
			{{title}}
		</h1>

		{# Liste des agents #}
		<div>

			<table class="table table-striped" id="items">
				<thead>
					<tr>
						{% block table_title %}{% endblock %}
						{# <th scope="col">#</th>
												                        <th scope="col">Identité</th>
												                        <th scope="col">Code Authentification</th>
												                        <th scope="col">Action</th> #}
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							{% block table_body %}{% endblock %}
							{# <th scope="row">{{agent.getId}}</th>
														                        <td>{{agent.getLastName}} {{agent.getFirstName}}</td>
														                        <td>{{agent.getAuthentificationCode}}</td> #}
							<td>
								<a class="btn btn-warning" href="/admin/edit-{{type}}/{{item.getId}}" role="button">Editer</a>
								<a class="btn btn-danger remove-item" href="/admin/remove-{{type}}/{{item.getId}}">Supprimer</a>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
	
	{{ knp_pagination_render(items) }}


	


{% endblock %}
{% block javascript %}{% endblock %}
