{% extends 'base.html.twig' %}

{% block title %}
	{{function}}
	{{type}}
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">{{function}}
		{{type}}! ✅</h1>

	{{form_start(form)}}

	<div class="row mt-5">
		<div class="col-md-3">
			{{form_row(form.code)}}
		</div>
		<div class="col-md-3">
			{{form_row(form.adress)}}
		</div>
		<div class="col-md-3">
			{{form_row(form.country)}}
		</div>
		<div class="col-md-3">
			{{form_row(form.type)}}
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-6">
			{{form_row(form.postal_code)}}
		</div>
		<div class="col-md-6">
			{{form_row(form.town)}}
		</div>
	</div>

	<div class="d-flex justify-content-end mt-3">
		<input class="btn btn-success" type="submit" value="envoyer"/>
	</div>


	{{form_end(form)}}
{% endblock %}
