{% extends 'read-item.html.twig' %}

{% block table_title %}
<a class="btn btn-success" href="/admin/add-stash">Ajouter un contact</a>
        
        <th scope="col">Code</th>
        <th scope="col">Pays</th>
        <th scope="col">Action</th>
 {% endblock %}

 {% block table_body %}
        
        <td>{{item.getCode}}</td>
        <td>{{item.getCountry}}</td>
{% endblock %}