{% extends 'base.html.twig' %}

{% block title %}
	{{function}}
	{{type}}
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">{{function}}
		{{type}}</h1>

	{{form_start(form)}}

	<div class="row mt-5">
		<div class="col-md-4">
			{{form_row(form.last_name)}}
		</div>
		<div class="col-md-4">
			{{form_row(form.first_name)}}
		</div>
		<div class="col-md-4">
			{{form_row(form.code_name)}}
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-4">
			{{form_row(form.country)}}
		</div>
		<div class="col-md-4">
			{{form_row(form.birth_date)}}
		</div>
		
	</div>

	<div class="d-flex justify-content-end mt-3">
		<input class="btn btn-success" type="submit" value="envoyer"/>
	</div>


	{{form_end(form)}}
{% endblock %}
